:root {
    --subtlePrimary: 21, 18, 27;
}

.dragging {
    opacity: 0.5;
}

.cursor-grab {
    cursor: grab;
}

a:hover {
    color: var(--bs-link-hover-color);
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.personenkuerzel {
    text-align: center;
    padding-top: 0.4em;
    height: 2.5em;
    width: 2.5em;
    position: relative;
    line-height: 1.65em;
    cursor: pointer;
}

/*!* Navbar style*!*/
.navbar {
    background-color: rgba(var(--subtlePrimary), 0.6);
    box-shadow: 1em 1em 1em rgba(0,0,0, 0.4);
}

.navbar-scrolled {
    background-color: rgba(var(--subtlePrimary), 1);
    box-shadow: 1em 1em 1em rgba(0,0,0, 0.4);
}

.task {
    width: 20em;
    border-width: 0.2em;
    border-color: var(--bs-secondary);
    color: var(--bs-primary);
}

/* Footer Style*/
footer {
    color: rgba(var(--bs-white-rgb), 0.9);
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
}

.footer-link {
    color: rgba(var(--bs-white-rgb), 0.9);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
}

main {
    flex: auto;
    padding-bottom: 1.5em;
}

/* Scrollbar style*/
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--bs-primary-bg-subtle);
    /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--bs-tertiary-color);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--bs-link-hover-color);
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
    background: rgba(var(--bs-link-hover-color-rgb), 0.8);
}

.iconClickable:hover {
    color: var(--bs-tertiary-color) !important;
    cursor: pointer;
}

.iconClickable:active {
    color: var(--bs-link-hover-color) !important;
}

.dropdown-item:hover {
    cursor: pointer;
}

body {
    margin: 0;
    background-image: url("../images/xxx_background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: var(--bs-white);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.modal-content {
    backdrop-filter: blur(1px);
}

.thead {
    background-color: rgba(var(--bs-secondary-rgb), 0.7) !important;
}

.dropdown-menu {
    backdrop-filter: blur(3px);
}

.card {
    /*background-color: rgba(0,0,0, 0.4) !important;*/
    /*background-color: rgba(0,0,0,0);*/
    box-shadow: 0.2em 0.5em 1em rgba(0,0,0, 0.7);
    backdrop-filter: blur(1ex);
}

.card-img-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* Black gradient */
}
.card:hover > .card-game-img {
    transform: scale(1.1);
}

.card-game-img {
    transition: transform 0.3s ease;
}
.toast {
    backdrop-filter: blur(3px);
    background-color: rgba(var(--bs-secondary-rgb), 0.7);
}

.popover {
    backdrop-filter: blur(3px);
    --bs-popover-header-font-size: 1.5em;
}

.popover-header {
    border-bottom: none;
}

.editSpalteText {
    color: var(--bs-white);
}

footer div a img {
    height: 100px;
    margin: 0px 20px;
}